[build]
  command = "npm run build"
  publish = ".next"

[[headers]]
  for = "/_next/static/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

# Configure secrets scanning to ignore build output
[build.environment]
  SECRETS_SCAN_OMIT_PATHS = ".netlify,**/.next,**/node_modules"